# MongoDB Atlas Connection String
# Replace with your MongoDB Atlas Cluster URI:
# Example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/crm_lead_gen?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://admin:admin123@cluster0.mongodb.net/crm_lead_gen?retryWrites=true&w=majority
PORT=5000
